*, *:before, *:after {
    box-sizing: border-box;
}

.invoice-footer {
    clear: both;
    display: inline-block;
    margin-top: 20px;
    margin-left: 0;
    padding: 0 15mm 0 20mm;
    position: relative;
    top: 0;
    width: 210mm;
}

.invoice-footer-line {
    border-top: 1px solid #d6d6d6;
    width: 100%;
}

.invoice-footer-container {
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 26%;
    font-size: 7pt;
    line-height: 10pt;
}

.invoice-footer-container__company {
    width: 22%;
}

.invoice-footer-container table {
    font-size: 7pt;
    line-height: 10pt;
    border-spacing: 0;
}

.invoice-footer-container table td {
    vertical-align: top;
}

.invoice-footer-container header {
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
    color: #000;
}

.invoice-footer-container .invoice-footer-companyOwner {
    margin-bottom: 0;
}

.invoice-footer-container ul,
.invoice-footer-container table {
    list-style: none;
    padding-left: 0;
    margin: 0;
    color: #444444;
}

.table-label {
    padding-right: 5px;
}

.invoice-footer-container table td + td {
    padding-right: 5px;
}

#pages {
    font-size: 0.75rem;
    position: absolute;
    right: 13mm;
    top: 30mm;
    white-space: nowrap;
}
