.invoice-footer {
    border-top: 1px solid #d6d6d6;
    clear: both;
    display: inline-block;
    margin-top: 20px;
    margin-left: 70px;
    position: absolute;
    top: 0;
    width: 230mm;
}

.invoice-footer-container {
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    width: 25%;
    line-height: 18px;
}

.invoice-footer-container table {
    font-size: 12px;
    line-height: 18px;
    border-spacing: 0;
}

.invoice-footer-container header {
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
}

.invoice-footer-container .invoice-footer-companyOwner {
    margin-bottom: 0;
}

.invoice-footer-container ul,
.invoice-footer-container table {
    list-style: none;
    padding-left: 0;
    margin: 0;
    color: #444444;
}

.table-label {
    padding-right: 5px;
}

.invoice-footer-companyName img {
    max-height: 58px;
    position: relative;
    left: -7px;
    max-width: 100%;
    height: auto;
}

#pages {
    font-size: 0.75rem;
    position: absolute;
    right: 30px;
    top: 45mm;
    white-space: nowrap;
}
