<div class="invoice-header invoice-header-top">
    <div class="invoice-header-image" style="margin-top: 20px; margin-bottom: 20px; position: relative">
        {assign var=Logo value=\QUI\ERP\Defaults::getLogo()}
        {image image=$Logo height="120" svgtopng=1}
    </div>

    <div class="invoice-body-header-text">
        {locale group="quiqqer/erp-accounting-templates" var="header"}
    </div>

    <div class="invoice-customer">
        {if $Address}
        {$Address->getDisplay()}
        {/if}
    </div>

    <div class="invoice-data">
        <div class="invoice-data-highlight">
            <h2>{locale group="quiqqer/erp-accounting-templates" var="title.invoice"}</h2>
            <table>
                <tbody>
                <tr>
                    <td>{locale group="quiqqer/erp-accounting-templates" var="body.id"}</td>
                    <td class="value-id"><span>{$this->getId()}</span></td>
                </tr>
                <tr>
                    <td>{locale group="quiqqer/erp-accounting-templates" var="body.date"}</td>
                    <td class="value-date"><span>{$dateFormatted}</span></td>
                </tr>
                {if $Customer}
                <tr>
                    <td>{locale group="quiqqer/erp-accounting-templates" var="body.customerId"}</td>
                    {if $Customer->getCustomerNo()}
                    <td class="value-customer"><span>{$Customer->getCustomerNo()}</span></td>
                    {else}
                    <td class="value-customer"><span>{$Customer->getId()}</span></td>
                    {/if}
                </tr>
                {/if}
                {if $Editor && $Editor->getName() !== ''}
                <tr>
                    <td>{locale group="quiqqer/erp-accounting-templates" var="body.editor"}</td>
                    <td class="value-editor-customer"><span>{$Editor->getName()}</span></td>
                </tr>
                {/if}

                {if method_exists($this, 'getInvoice') &&
                $this->getInvoice() &&
                method_exists($this->getInvoice(), 'getData') &&
                $this->getInvoice()->getData('contract')
                }
                {assign var=contract value=$this->getInvoice()->getData('contract')}
                <tr>
                    <td>{locale group="quiqqer/erp-accounting-templates" var="body.contract.id"}</td>
                    <td class="value-contract-id"><span>{$contract.id}</span></td>
                </tr>
                {/if}
                </tbody>
            </table>
        </div>

        {if isset($useShipping) && $useShipping && $DeliveryAddress && $DeliveryAddress->getText() !== ''}
        <div class="delivery-address">
            <span class="delivery-address-label">
                {locale group="quiqqer/erp-accounting-templates" var="body.deliveryAddress"}:
            </span><br/>
            {if $DeliveryAddress}
            {$DeliveryAddress->getText()}
            {else}
            {locale group="quiqqer/erp-accounting-templates" var="body.deliveryAddress_like_invoiceAddress"}
            {/if}
        </div>
        {/if}
    </div>

</div>
