<div class="invoice-customer">
    {if $Address}
    {$Address->getDisplay()}
    {/if}
</div>


<div class="invoice-data">
    {locale group="quiqqer/erp-accounting-templates" var="body.id"}: {$this->getId()}<br/>
    {locale group="quiqqer/erp-accounting-templates" var="body.date"}: {$this->getAttribute('date')}<br/>
    {if $Customer}
    {locale group="quiqqer/erp-accounting-templates" var="body.customerId"}: {$Customer->getId()}<br/>
    {/if}
    {if $Editor}
    {locale group="quiqqer/erp-accounting-templates" var="body.editor"}: {$Editor->getName()}
    {/if}
</div>

<h1 class="invoice-header">
    {locale group="quiqqer/erp-accounting-templates" var="title.canceled"}
</h1>

<div class="invoice-articles">
    {$ArticleList->toHTML()}
</div>

<div class="invoice-additional">
    {$this->getAttribute('additional_invoice_text')}
</div>