.invoice-body {
    padding: 10px 30px 0 70px;
    width: 230mm;
}

.dunning-company,
.dunning-customer,
.dunning-content,
.dunning-header,
.dunning-openitemslist {
    clear: both;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dunning-header {
    float: left;
    margin-top: 60px;
    width: 100%;
}

.dunning-customer address {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
}

.dunning-data {
    float: right;
}

.dunning-additional {
    clear: both;
    float: left;
    margin-top: 40px;

    page-break-inside: avoid !important;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}

.dunning-header {
    clear: both;
}

.dunning-header-project {
    float: right;
}

.dunning-openitemslist {
    margin-top: 50px;
}

.dunning-openitemslist-info {
    margin-bottom: 20px;
}
