*, *:before, *:after {
    box-sizing: border-box;
}

.salesorder-body {
    padding: 5mm 15mm 0 20mm;
    width: 210mm;
}

.salesorder-company,
.salesorder-articles {
    clear: both;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
}

.salesorder-articles {
    border-bottom: 3px solid #666;
    margin-top: 0;
    padding-bottom: 20px;
    width: 100%;
}

.salesorder-customer address {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
}

.salesorder-body-header {
    clear: both;
    color: #888;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
    margin-top: 2rem;
    text-transform: uppercase;
    width: 100%;
}

.salesorder-body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}

.salesorder-body-text {
    margin-top: 20px !important;
}

.salesorder-body-extra {
    margin-bottom: 20px;
}

.salesorder-body-extra p {
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.salesorder-additional {
    clear: both;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin-top: 40px;
}

.salesorder-header {
    clear: both;
}

.salesorder-header-project {
    float: right;
}

/** Articles
 ========================================== */

.articles-article {
    border-bottom: 1px solid #d6d6d6;
    margin-top: 20px;
    width: 100%;

    border-collapse: separate;
    border-spacing: 10px;
}

.articles-header {
    display: none;
}

/** header
 ========================================== */

.articles-article {
    border-bottom: 1px solid #666;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0;
}

.articles-article thead {
    padding: 0;
}

.articles-article thead th {
    background: #d6d6d6;
    white-space: nowrap;
}

.articles-article-header {
    color: #1b1b1b;
    font-size: 12px;
    line-height: 30px;
}

.articles-article-header-articleNo {
    padding-left: 7px;
    text-align: left;
}

.articles-article-header-pos,
.articles-article-header-quantity {
    text-align: center;
    width: 50px;
}

.articles-article-header-information {
    padding-left: 7px;
    text-align: left;
}

.articles-article-header-price,
.articles-article-header-unitprice {
    text-align: right;
}

.articles-article-header-price {
    padding-right: 10px;
}

/** one article
 ========================================== */

.articles-article tbody td {
    vertical-align: top;
    font-size: 0.8rem;
    padding: 7px;
}

.articles-article tbody tr:nth-child(even) {
    background: #e5e5e5;
}

.articles-article-pos,
.articles-article-quantity,
.articles-article-vat {
    text-align: center;
    vertical-align: top;
}

.articles-article-information-title {
    font-size: 12px;
    font-weight: bold;
}

.articles-article-information-description {
    font-size: 12px;
    text-align: left;
    vertical-align: top;
}

.articles-article-information-description p {
    margin-bottom: 5px !important;
}

.articles-article-unitprice {
    text-align: right;
    vertical-align: top;
}

.articles-article-unitprice-discount {
    clear: both;
    display: block;
    font-size: 10px;
    white-space: nowrap;
}

.articles-article-price {
    text-align: right;
    vertical-align: top;
    padding-right: 10px !important;
}

.articles-article p {
    margin: 0;
}


/** sum
 ========================================== */

.articles-sum {
    float: right;
    page-break-inside: avoid !important;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    -webkit-region-break-inside: avoid;

    margin-top: 20px;
    text-align: right;
}

.articles-sum-container {
    display: inline-block;
    width: 100%;
}

.articles-sum-container,
.articles-sum td,
.articles-sum span {
    page-break-inside: avoid !important;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}

.articles-sum-row-subsum-text {
    border-bottom: 1px solid #999999;
}

.articles-sum-row-subsum-value {
    border-bottom: 1px solid #999999;
}

.articles-sum-row-sum {
    font-weight: bold;
}

.articles-sum-row-sum-text {
    border-bottom: 3px double #999999;
}

.articles-sum-row-sum-value {
    border-bottom: 3px double #999999;
}

.articles-sum td + td {
    padding-right: 10px;
}

/** additional
 ========================================== */

.salesorder-additional-left {
    clear: both;
    display: block;
    float: left;
    /*width: 38%;*/

    page-break-inside: avoid !important;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}

.additional-salesorder-value {
    font-weight: bold;
}

.salesorder-additional-global-salesorder-text {
    float: right;
    width: 60%;
}

.salesorder-additional-bottom {
    clear: both;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}
