<div class="salesorder-body">
    <div class="salesorder-body-extra">
        {if !empty($viewData['contact_person'])}
        <p class="salesorder-body-orderedBy">
            {locale group="quiqqer/erp-accounting-templates" var="body.orderedBy"}:
            {$viewData['contact_person']}
        </p>
        {/if}

        {if !empty($viewData['project_name'])}
        <p class="salesorder-body-project">
            {locale group="quiqqer/erp-accounting-templates" var="body.project"}: {$viewData['project_name']}
        </p>
        {/if}

        {if $this->getDeliveryDate() !== '-'}
        <p class="salesorder-body-orderedBy">
            {locale group="quiqqer/erp-accounting-templates" var="SalesOrder.body.delivery_date"}:
            {$this->getDeliveryDate()}
        </p>
        {/if}

        <p class="salesorder-body-text">
            {if $this->getSalesOrder()->getAttribute('order_date')}
                {locale group="quiqqer/erp-accounting-templates"
                var="SalesOrder.body.text_intro_date"
                orderDate=$this->getOrderDate()
                }
            {else}
                {locale group="quiqqer/erp-accounting-templates" var="SalesOrder.body.text_intro"}
            {/if}

            {if $this->getSalesOrder()->getData('offerId')}
                {locale group="quiqqer/erp-accounting-templates"
                        var="SalesOrder.body.text_with_offer_reference"
                        offerId=$this->getSalesOrder()->getData('offerId')
                }
            {else}
                {locale group="quiqqer/erp-accounting-templates"
                        var="SalesOrder.body.text"
                }
            {/if}
        </p>
    </div>

    <div class="salesorder-articles">
        {$ArticleList->toHTML()}
    </div>

    <div class="salesorder-additional">
        {if !empty($this->getAttribute('additional_text'))}
            {$this->getAttribute('additional_text')}
        {/if}
    </div>
</div>
