<div class="invoice-body">
    <div class="invoice-body-extra">
        {if !empty($projectName)}
        <p class="invoice-body-project">
            {locale group="quiqqer/erp-accounting-templates" var="body.project"}: {$projectName}
        </p>
        {/if}

        {if $this->getAttribute('order_date')}
        <p class="invoice-body-orderedBy">
            {locale group="quiqqer/erp-accounting-templates" var="body.orderDate"}:
            {$this->formatDate($this->getAttribute('order_date'))}
        </p>
        {/if}

        {if $this->getAttribute('contact_person')}
        <p class="invoice-body-orderedBy">
            {locale group="quiqqer/erp-accounting-templates" var="body.orderedBy"}:
            {$this->getAttribute('contact_person')}
        </p>
        {/if}
    </div>

    {template_event name="quiqqer::erp-accounting-templates::invoiceDataEnd" InvoiceView=$this}

    <div class="invoice-articles">
        {$ArticleList->toHTML()}
    </div>

    <div class="invoice-additional">
        {if !empty($this->getAttribute('additional_invoice_text'))}
        <div class="invoice-additional-bottom">
            {$this->getAttribute('additional_invoice_text')}
        </div>
        {/if}
    </div>
</div>
