<div class="invoice-customer">
    {if $Address}
    {$Address->getDisplay()}
    {/if}
</div>


<div class="invoice-data">
    {locale group="quiqqer/invoice-accounting-template" var="body.id"}: {$this->getId()}<br/>
    {locale group="quiqqer/invoice-accounting-template" var="body.date"}: {$this->getAttribute('date')}<br/>
    {if $Customer}
    {locale group="quiqqer/invoice-accounting-template" var="body.customerId"}: {$Customer->getId()}<br/>
    {/if}
    {if $Editor}
    {locale group="quiqqer/invoice-accounting-template" var="body.editor"}: {$Editor->getName()}
    {/if}
    {template_event name="quiqqer::invoice-accounting-template::invoiceDataEnd" InvoiceView=$this}
</div>

<h1 class="invoice-header">
    {locale group="quiqqer/invoice-accounting-template" var="title.invoice"}
</h1>

<div class="invoice-articles">
    {$ArticleList->toHTML()}
</div>

<div class="invoice-additional">
    {if empty($transaction)}
    {locale group="quiqqer/invoice" var="additional.invoice.text.timeForPayment"}: {$timeForPayment}
    {else}
    {$transaction}
    {/if}

    <br/>{locale group="quiqqer/invoice" var="additional.invoice.text.paymentMethod"}: {$Payment->getTitle()}
    <br/>{$this->getAttribute('additional_invoice_text')}

    {if $Payment->getInvoiceInformationText($this) !== ''}
    <br/>{$Payment->getInvoiceInformationText($this)}
    {/if}
</div>