<div class="invoice-customer">
    {if $Address}
    {$Address->getDisplay()}
    {/if}
</div>


<div class="invoice-data">
    {locale group="quiqqer/erp-accounting-templates" var="body.id"}: {$this->getId()}<br/>
    {locale group="quiqqer/erp-accounting-templates" var="body.date"}: {$this->getAttribute('date')}<br/>
    {if $Customer}
    {locale group="quiqqer/erp-accounting-templates" var="body.customerId"}: {$Customer->getId()}<br/>
    {/if}
    {if $Editor}
    {locale group="quiqqer/erp-accounting-templates" var="body.editor"}: {$Editor->getName()}
    {/if}
    {template_event name="quiqqer::erp-accounting-templates::invoiceDataEnd" InvoiceView=$this}

    {if $useShipping}
    <div class="delivery-address">
        <span class="delivery-address-label">
            {locale group="quiqqer/erp-accounting-templates" var="body.deliveryAddress"}:
        </span><br/>
        {if $DeliveryAddress}
            {$DeliveryAddress->getDisplay()}
        {else}
            {locale group="quiqqer/erp-accounting-templates" var="body.deliveryAddress_like_invoiceAddress"}
        {/if}
    </div>
    {/if}
</div>

<h1 class="invoice-header">
    {locale group="quiqqer/erp-accounting-templates" var="title.invoice"}
</h1>

{if !empty($projectName)}
<span class="invoice-header-project">
    {locale group="quiqqer/erp-accounting-templates" var="body.project" project=$projectName}
</span>
{/if}

<div class="invoice-articles">
    {$ArticleList->toHTML()}
</div>

<div class="invoice-additional">
    {if !empty($transaction)}
        {$transaction}
    {/if}

    <br/>{locale group="quiqqer/invoice" var="additional.invoice.text.paymentMethod"}: {$Payment->getTitle()}
    <br/>{$this->getAttribute('additional_invoice_text')}

    {if $Payment->getInvoiceInformationText($this) !== ''}
    <br/>{$Payment->getInvoiceInformationText($this)}
    {/if}

    {if !empty($globalInvoiceText)}
    <br />{$globalInvoiceText}
    {/if}
</div>
