.sepa-mandate-body-reference {
    float: left;
    margin: 40px 0 35px 0;
    width: 100%;
}

.sepa-mandate-body-reference-creditor,
.sepa-mandate-body-reference-debtor {
    float: left;
    width: 50%;
}

.sepa-mandate-body-reference-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.sepa-mandate-body-form {
    border-spacing: 0 20px;
    margin: 20px 0 0 0;
    width: 100%;
}

.sepa-mandate-body-form-label {
    width: 150px;
}

.sepa-mandate-line {
    border-bottom: 1px solid #636363;
    height: 20px;
}

.sepa-mandate-body-sign-date {
    float: right;
    width: 50%;
}

.sepa-mandate-body-sign-place {
    float: left;
    width: 45%;
}

.sepa-mandate-body-sign {
    float: left;
    margin-top: 100px;
    width: 100%;
}