.sepa-mandate-body-reference {
    display: inline-block;
    float: inherit !important;
    margin: 0;
    width: 100%;
}

.sepa-mandate-body-reference-creditor {
    margin-bottom: 10px !important;
}

.sepa-mandate-body-reference-label {
    display: inline-block !important;
    margin-bottom: 5px !important;
}

.invoice-header {
    border-bottom: 1px solid #d6d6d6;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 420px;
    margin-left: 70px;
    padding-bottom: 20px;
    position: relative;
    width: 230mm;
}

.invoice-body-header-text {
    border-bottom: 1px solid #999;
    clear: both;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.invoice-customer {
    display: block;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 50%;
}

.invoice-customer p {
    margin: 0 0 5px 0;
}

.invoice-data {
    float: right;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 350px;
}

.value-id,
.value-date,
.value-customer {
    font-weight: bold;
}

.invoice-data-highlight {
    background: #e5e5e5;
    border-radius: 3px;
    margin-left: auto;
    padding: 10px;
    width: calc(100% - 20px);
}

.delivery-address {
    font-size: 12px;
    margin-top: 0;
    margin-left: auto;
    padding: 10px;
    width: 100%;
}

.delivery-address-label {
    font-weight: bold;
}

.invoice-data table {
    border-spacing: 0;
    border-collapse: collapse;
}

.invoice-data table td + td {
    line-height: 20px;
    padding: 0 0 0 10px;
}

.invoice-data-highlight h2 {
    font-size: 1.2rem;
    margin: 0 0 10px 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}

.invoice-data-highlight table {
    border-collapse: separate;
    width: 100%;
}

.invoice-data-highlight td {
    font-size: 14px;
}

.invoice-data-highlight td:first-child {
    width: 35%;
}

.value-id span,
.invoice-data-highlight td span {
    background: #fff;
    border-radius: 3px;
    display: inline-block;
    margin: 0 0 2px;
    padding: 0 10px;
    width: 200px;
}

.value-id span {
    padding: 2px 10px;
    width: 305px;
}

.invoice-customer h3 {
    margin: 0 0 10px 0;
}
