<div class="purchasing-process-body">
    <div class="purchasing-process-body-extra">
        {if !empty($projectName)}
        <p class="purchasing-process-body-project">
            {locale group="quiqqer/erp-accounting-templates" var="body.project"}: {$projectName}
        </p>
        {/if}

        {if $this->getAttribute('order_date')}
        <p class="purchasing-process-body-orderedBy">
            {locale group="quiqqer/erp-accounting-templates" var="body.orderDate"}:
            {$this->formatDate($this->getAttribute('order_date'))}
        </p>
        {/if}

        {if !empty($contactPerson)}
        <p class="purchasing-process-body-orderedBy">
            {locale group="quiqqer/erp-accounting-templates" var="body.contactPerson"}:
            {$contactPerson}
        </p>
        {/if}
    </div>

    <div class="purchasing-process-articles">
        {$ArticleList->toHTML()}
    </div>

    <div class="purchasing-process-additional">
        <div class="purchasing-process-additional-left">
            <span class="additional-purchasing-process-title">{locale group="quiqqer/erp-accounting-templates" var="body.paymentType"}:</span>
            <span class="additional-purchasing-process-value">{$Payment->getTitle()}</span>
        </div>

        {if !empty($this->getAttribute('payment_due_date'))}
        <div class="purchasing-process-additional-left">
            <span class="additional-purchasing-process-title">{locale group="quiqqer/erp-accounting-templates" var="body.paymentTarget"}:</span>
            <span class="additional-purchasing-process-value">{$this->formatDate($this->getAttribute('payment_due_date'))}</span>
        </div>
        {/if}

        {if !empty($this->getAttribute('additional_text'))}
        <div class="purchasing-process-additional-bottom">
            {$this->getAttribute('additional_text')}
        </div>
        {/if}
    </div>
</div>
