<div class="contract-body">
    <div class="contract-details">
        <p>
            <span>{locale group="quiqqer/erp-accounting-templates" var="contract.body.minDurationInterval"}:</span>
            <span>{$minDurationInterval}</span>
        </p>

        {if $extension}
        <p>
            <span>{locale group="quiqqer/erp-accounting-templates" var="contract.body.extension"}:</span>
            <span>{$extension}</span>
        </p>
        {/if}

        {if $periodOfNotice}
        <p>
            <span>{locale group="quiqqer/erp-accounting-templates" var="contract.body.periodOfNotice"}:</span>
            <span>{$periodOfNotice}</span>
        </p>
        {/if}

        <p>
            <span>{locale group="quiqqer/erp-accounting-templates" var="contract.body.invoiceInterval"}:</span>
            <span>{$invoiceInterval}</span>
        </p>

        {if $terminationDate}
        <p>
            <span>{locale group="quiqqer/erp-accounting-templates" var="contract.body.terminationDate"}:</span>
            <span>{$terminationDate}</span>
        </p>
        {/if}
    </div>

    <div class="contract-articles">
        {$ArticleList->toHTML()}
    </div>

    <div class="contract-additional">
        {if empty($transaction)}
        {locale group="quiqqer/invoice" var="additional.invoice.text.timeForPayment"}: {$timeForPayment}
        {else}
        {$transaction}
        {/if}

        <br/>{locale group="quiqqer/invoice" var="additional.invoice.text.paymentMethod"}: {$Payment->getTitle()}
        <br/>{$this->getAttribute('additional_contract_text')}
    </div>
</div>
