<div class="offer-customer">
    {if $Address}
    {$Address->getDisplay()}
    {/if}
</div>

<div class="offer-data">
    {locale group="quiqqer/erp-accounting-templates" var="offer.body.date"}: {$offerDate}<br/>
    {locale group="quiqqer/erp-accounting-templates" var="offer.body.id"}: {$this->getId()}<br/>
    <br/>
    {if $Customer}
    {locale group="quiqqer/erp-accounting-templates" var="body.customerId"}: {$Customer->getId()}<br/>
    {/if}
    {if $Editor}
        <br/>
        {locale group="quiqqer/erp-accounting-templates" var="offer.body.editor"}: {$editorName}<br/>
        {if !empty($editorPhone)}
        {locale group="quiqqer/erp-accounting-templates" var="offer.body.editor.phone"}: {$editorPhone}<br/>
        {/if}
        {if !empty($editorFax)}
        {locale group="quiqqer/erp-accounting-templates" var="offer.body.editor.fax"}: {$editorFax}<br/>
        {/if}
        {if !empty($editorMail)}
        {locale group="quiqqer/erp-accounting-templates" var="offer.body.editor.mail"}: {$editorMail}
        {/if}
    {/if}

    {if $useShipping}
    <div class="offer-delivery-address">
        <span class="offer-delivery-address-label">
            {locale group="quiqqer/erp-accounting-templates" var="body.deliveryAddress"}:
        </span><br/>
        {if $DeliveryAddress}

            {$DeliveryAddress->getDisplay()}
        {else}
            {locale group="quiqqer/erp-accounting-templates" var="body.deliveryAddress_like_invoiceAddress"}
        {/if}
    </div>
    {/if}
</div>

<h1 class="offer-header">
    {locale group="quiqqer/erp-accounting-templates" var="title.offer"}
</h1>

<div class="offer-inquiry">
    {if !empty($projectName)}
    <span class="offer-header-project">
        {locale group="quiqqer/invoice-accounting-template" var="offer.body.project" project=$projectName}
    </span>
    {/if}
    {if !empty($contactName)}
    {locale group="quiqqer/erp-accounting-templates" var="offer.body.customer.contact"}: {$contactName}
    {/if}
    {if !empty($inquiryDate)}
    <br/>{locale group="quiqqer/erp-accounting-templates" var="offer.body.customer.inquiry_date"}: {$inquiryDate}
    {/if}
    {if !empty($customerOfferNo)}
    <br/>{locale group="quiqqer/erp-accounting-templates" var="offer.body.customer.offer_no"}: {$customerOfferNo}
    {/if}
    {if $inquiryDate}
    <br/>{locale group="quiqqer/invoice-accounting-template" var="offer.body.customer.inquiry_date"}: {$inquiryDate}<br/>
    {/if}
</div>

{if !empty($textTop)}
<div class="offer-additional-top">
    {$textTop}
</div>
{/if}

<div class="offer-articles">
    {$ArticleList->toHTML()}
</div>

<div class="offer-tos">
    {locale group="quiqqer/erp-accounting-templates" var="offer.body.tos_hint"}
</div>

<div class="offer-additional">
    {locale group="quiqqer/invoice" var="additional.invoice.text.timeForPayment"}: {$timeForPayment}<br/>
    {locale group="quiqqer/invoice" var="additional.invoice.text.paymentMethod"}: {$Payment->getTitle()}

    {if empty($binding)}
    <p>{locale group="quiqqer/erp-accounting-templates" var="offer.body.non_binding"}</p>
    {/if}

    {if !empty($validToDate)}
    <p>{locale group="quiqqer/invoice-accounting-template" var="offer.body.valid_to" date=$validToDate}</p>
    {/if}

    <br/>{$this->getAttribute('additional_offer_text')}
</div>