.offer-company,
.offer-customer,
.offer-articles {
    clear: both;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.offer-articles {
    margin-top: 60px;
    width: 100%;
}

.offer-customer address {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
}

.offer-data {
    float: right;
}

.offer-additional {
    clear: both;
    float: left;
    margin-top: 40px;
}

.offer-header {
    border-bottom: 1px solid #DEDEDE;
    clear: both;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 0 10px 0;
    margin-bottom: 20px;
    width: 100%;
}

.articles-article {
    border-bottom: 1px solid #DDDDDD;
    margin-top: 20px;
    width: 100%;

    border-collapse: separate;
    border-spacing: 10px;
}

.articles-header {
    font-size: 20px;
}

.offer-tos {
    font-size: 12px;
    margin-top: 20px;
    width: 400px;
}

.offer-delivery-address {
    margin: 40px 0 0 0;
}

.offer-delivery-address-label {
    font-weight: bold;
}

/** header
 ========================================== */

.articles-article-header {
    color: #999999;
    font-size: 12px;
    line-height: 30px;
}

.articles-article-header-pos,
.articles-article-header-quantity {
    text-align: center;
    width: 100px;
}

.articles-article-header-information {
    text-align: left;
}

.articles-article-header-price,
.articles-article-header-unitprice {
    text-align: right;
}

/** articles
 ========================================== */

.articles-article-pos,
.articles-article-quantity,
.articles-article-articleNo,
.articles-article-vat {
    text-align: center;
    vertical-align: top;
}

.articles-article-information-title {
    font-size: 14px;
    font-weight: bold;
}

.articles-article-information-description {
    font-size: 12px;
    text-align: left;
    vertical-align: top;
}

.articles-article-unitprice {
    text-align: right;
    vertical-align: top;
}

.articles-article-price {
    /*color: #e91d2c;*/
    text-align: right;
    vertical-align: top;
}

.articles-article p {
    margin: 0;
}

/** sum
 ========================================== */

.articles-sum {
    float: right;
    margin-top: 20px;
    text-align: right;
}

.articles-sum-row-subsum-text {
    border-bottom: 1px solid #999999;
}

.articles-sum-row-subsum-value {
    border-bottom: 1px solid #999999;
}

.articles-sum-row-sum-text {
    border-bottom: 3px double #999999;
}

.articles-sum-row-sum-value {
    border-bottom: 3px double #999999;
}