<div class="invoice-header invoice-header-top">
    <div style="margin-top: 20px; margin-bottom: 20px; position: relative">
        {image image=$Project->getMedia()->getLogoImage() height="120" svgtopng=1}
    </div>

    <div class="invoice-body-header-text">
        {locale group="quiqqer/erp-accounting-templates" var="header" shopownerAdressShort=QUI\ERP\Defaults::getShortAddress()}
    </div>

    <div class="invoice-customer">
        {if $Address}
        {$Address->getDisplay()}
        {/if}
    </div>

    <div class="invoice-data">
        <div class="invoice-data-highlight">
            {if $this->isDraft()}
            <h2>{locale group="quiqqer/erp-accounting-templates" var="title.offer_draft"}</h2>
            {else}
            <h2>{locale group="quiqqer/erp-accounting-templates" var="title.offer"}</h2>
            {/if}

            <table>
                <tbody>
                <tr>
                    <td>{locale group="quiqqer/erp-accounting-templates" var="offer.body.id"}</td>
                    <td class="value-id"><span>{$this->getId()}</span></td>
                </tr>
                <tr>
                    <td>{locale group="quiqqer/erp-accounting-templates" var="body.date"}</td>
                    <td class="value-date"><span>{$offerDate}</span></td>
                </tr>
                {if $Customer}
                <tr>
                    <td>{locale group="quiqqer/erp-accounting-templates" var="body.customerId"}</td>
                    {if $Customer->getCustomerNo()}
                    <td class="value-customer"><span>{$Customer->getCustomerNo()}</span></td>
                    {else}
                    <td class="value-customer"><span>{$Customer->getId()}</span></td>
                    {/if}
                </tr>
                {/if}
                {if $Editor && $Editor->getName() !== ''}
                <tr>
                    <td>{locale group="quiqqer/erp-accounting-templates" var="body.editor"}</td>
                    <td class="value-editor-customer"><span>{$Editor->getName()}</span></td>
                </tr>
                {/if}
                </tbody>
            </table>
        </div>

        {if isset($useShipping) && $useShipping}
        <div class="delivery-address">
            <span class="delivery-address-label">
                {locale group="quiqqer/erp-accounting-templates" var="body.deliveryAddress"}:
            </span><br/>
            {if $DeliveryAddress && $DeliveryAddress->getText() !== ''}
                {$DeliveryAddress->getText()}
            {else}
                {locale group="quiqqer/erp-accounting-templates" var="body.deliveryAddress_like_invoiceAddress"}
            {/if}
        </div>
        {/if}
    </div>

</div>
