*, *:before, *:after {
    box-sizing: border-box;
}

.CashbookJournal-body {
    padding: 5mm 15mm 0 20mm;
    width: 210mm;
}

.CashbookJournal {
    border-collapse: collapse;
    width: 100%;
}

.CashbookJournal tbody tr:nth-child(odd) {
    background-color: #f4f2f0;
}

.CashbookJournal td,
.CashbookJournal th {
    padding: 5px;
}

.CashbookJournal th {
    text-align: left;
}

.CashbookJournal-align-center {
    text-align: center !important;
}

.CashbookJournal-align-right {
    text-align: right !important;
}

.CashbookJournal-col-date {
    width: 75px;
}

.CashbookJournal-col-documentNo {
    width: 160px;
}

.CashbookJournal-col-amount {
    width: 100px;
}

.CashbookJournal-col-account,
.CashbookJournal-col-offsetAccount {
    width: 100px;
}

.CashbookJournal-balance-label {
    margin-right: 10px;
}

.CashbookJournal-balance-from {
    float: right;
    margin-right: 30px;
    padding: 5px;
}

.CashbookJournal-balance-to {
    float: right;
    padding: 5px;
}

.CashbookJournal-balance-value {
    font-size: 18px;
    font-weight: bold;
}