*, *:before, *:after {
    box-sizing: border-box;
}

.CashbookJournal-body {
    padding: 5mm 15mm 0 20mm;
    width: 210mm;
}

.CashbookJournal {
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
}

.CashbookJournal tbody tr:nth-child(odd) {
    background-color: #f4f2f0;
}

.CashbookJournal td,
.CashbookJournal th {
    padding: 5px;
}

.CashbookJournal th {
    text-align: left;
}

.CashbookJournal-align-center {
    text-align: center !important;
}

.CashbookJournal-align-right {
    text-align: right !important;
}

.CashbookJournal-col-date {
    width: 75px;
}

.CashbookJournal-col-documentNo {
    width: 160px;
}

.CashbookJournal-col-amount {
    width: 80px;
}

.CashbookJournal-col-account,
.CashbookJournal-col-offsetAccount {
    width: 75px;
}

.CashbookJournal-balance {
    border-top: 1px dotted #0e0e0e;
}

.CashbookJournal-balance-label {
    margin-right: 10px;
}

.CashbookJournal-balance-from {
    clear: both;
    display: block;
    float: right;
}

.CashbookJournal-balance-to {
    clear: both;
    display: block;
    float: right;
    margin-top: 5px;
}

.CashbookJournal-balance-value {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    width: 100px;
}